<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>OdzreShop APIs</title>
    <link rel="icon" type="image/png" href="https://nefyu.my.id/mmab.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body oncontextmenu="return false;">
    <div class="particle-container">
        <div class="particle"></div><div class="particle"></div><div class="particle"></div>
        <div class="particle"></div><div class="particle"></div><div class="particle"></div>
        <div class="particle"></div><div class="particle"></div><div class="particle"></div>
        <div class="particle"></div><div class="particle"></div><div class="particle"></div>
        <div class="particle"></div><div class="particle"></div><div class="particle"></div>
    </div>
    <div class="container">
        <header>
            <img src="https://nefyu.my.id/mmab.png" alt="Logo" class="logo">
            <h1>ODZRESHOP APIS.</h1>
            <p>Selamat datang di dokumentasi API OdzreShop.</p>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>
    <script>
        window.endpoints = JSON.parse('{{{json endpoints}}}');
    </script>
    <script src="/js/script.js"></script>
</body>
</html>
